.grouping:before,
.grouping:after {
    content: " ";
    display: table;
}
.grouping:after {
    clear: both;
}


.wrapper {
    margin: auto;
    width: 960px;
}

.clear {
    clear: both;
}

.column {
    float: left;
    width: 300px;
    height: 400px;
    margin-left: 30px;
}

.p-box {
    overflow: hidden;
    height: 348px;
}

.column:nth-child(3n+1) {
    margin-left: 0;
}


.content-block {
    padding: 20px 6px;
}

.content-block .figure {
    margin: 0 10px;
    float: left;
}

.content-block h1 {
    font-size: 24pt;
    /*color: #fff;*/
    margin-bottom: 10px;
}

.content-block p {
    font-family: Georgia, 'Times New Roman' sans-serif;
}

.content-block img {
    padding-top: 10px;
    height: 140px;
}