.content-block {
    padding: 20px 6px;
}

.content-block .figure {
    margin: 0 10px;
    float: left;
}

.content-block h1 {
    font-size: 38pt;
    /*color: #fff;*/
    margin-bottom: 10px;
}

.content-block p {
    font-family: Georgia, 'Times New Roman' sans-serif;
}

.content-block img {
    padding-top: 10px;
    height: 140px;
}