<!DOCTYPE html>
<html lang="en" ng-app="chicklistApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="css/reset.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://code.angularjs.org/1.3.0-rc.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.5/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.5/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>

<!-- Menu -->
<nav class="grouping" ng-controller="menuController">
    <figure>
        <img src="img/bruce.png" alt="Me name is Bruce" />
    </figure>
    <div class="mobile-menu-icon" ng-class="{'open':!menuIsHidden}"  ng-click="toggleMenu()"></div>
    <ul class="primary-nav grouping" ng-class="{'active':!menuIsHidden}">
        <li><a >Home</a></li>
        <li class="has-submenu">
            <a >Edit</a>
            <ul>
                <li ng-repeat="chick in chicks"><a ng-href="#/update?name={{chick.name}}">{{chick.name}}</a></li>
            </ul>
        </li>
        <li><a href="#/">List</a></li>
        <li><a href="#/grid">Grid</a></li>
    </ul>
</nav>

    <section>
        <!-- Promotion -->
        <div class="wrapper grouping">
            <div class="intro-content">
                <h1>O' Bruce</h1>
                <h2>Dedicated to chicks and some other stuff</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nostrum molestiae consequatur, quis, pariatur ratione. Recusandae voluptatem fugiat in vero. At maiores nam libero eveniet odit qui, aliquid. Dicta, vel, laudantium.</p>
            </div>
            <div class="go-premium">
                <a class="call-to-action" href="#/create">Create new</a>
                <p>So many awesome features when you go premium. <a href="#">Learn more &raquo;</a></p>
            </div>
        </div>        
    </section>

    <section ng-view>
        <!-- Content -->
    </section>
</body>
</html>