<fieldset>
    <label>Unique Name Tag:</label>
    <input type="text" ng-model="chick.name" />
</fieldset>

<fieldset>
    <label>Full Name:</label>
    <input type="text" ng-model="chick.fullName" />
</fieldset>

<fieldset>
    <label>Image Url:</label>
    <input type="text" ng-model="chick.img" />
</fieldset>

<fieldset>
    <label>Description:</label>
    <textarea ng-model="chick.description"></textarea>
</fieldset>

<fieldset>
    <label>More Info Url:</label>
    <input type="text" ng-model="chick.url" />
</fieldset>