<!--<button ng-click="createChick()">Create New</button>-->
<section>
    <div class="wrapper grouping">
        <div class="intro-content">
            <h1>Old Chompy</h1>
            <h2>Dedicated to chicks and some other stuff</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nostrum molestiae consequatur, quis, pariatur ratione. Recusandae voluptatem fugiat in vero. At maiores nam libero eveniet odit qui, aliquid. Dicta, vel, laudantium.</p>
        </div>
        <div class="go-premium">
            <a class="call-to-action">Go Premium</a>
            <p>So many awesome features when you go premium. <a href="#">Learn more &raquo;</a></p>
        </div>
    </div>
</section>

<section class="content-block list">
    <div ng-repeat="chick in chicks" class="grouping">
        <div class="p-box">
            <a href="#" class="figure">
                <img ng-src="{{chick.img}}" alt="{{chick.name}}" />
            </a>
            <h1>{{chick.fullName}}</h1>
            <p class="paragraph">{{chick.description}}</p>
        </div>
        <!--<a ng-href="{{chick.url}}" class="button">Learn More »</a>-->
        <a ng-click="updateChick(chick.name)" class="button">Edit »</a>
        <a ng-click="deleteChick(chick.name)" class="button">Delete »</a>
    </div>
</section>
