<!--<button ng-click="createChick()">Create New</button>-->
<section class="content-block grouping">
    <div class="wrapper">
        <div ng-repeat="chick in chicks" class="column">
            <div class="p-box">
                <a href="#" class="figure">
                    <img ng-src="{{chick.img}}" alt="{{chick.name}}" />
                </a>
                <h1>{{chick.fullName}}</h1>
                <p class="paragraph">{{chick.description}}</p>
            </div>
            <a ng-href="{{chick.url}}">Learn More</a>
            <!--<button ng-click="updateChick(chick.name)">Edit</button>-->
            <!--<button ng-click="deleteChick(chick.name)">Delete</button>-->
        </div>
    </div>
    <!-- A way to fix collapsing section because of the float elements inside -->
    <!--<div class="clear"></div>-->
    <!-- Another way to do this is to define overflow:hidden on the parent -->
    <!-- this is now fixed by pseudo elements defined in "grouping" class -->
</section>


